name: 笑谱

on:
    # push:
    #     branches:
    #         - main
    schedule:
        - cron: " 19 */30 * * *"
    workflow_dispatch:
        
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v1
            - name: Use Node.js 10.x
              uses: actions/setup-node@v1
              with:
                  node-version: 10.x
            - name: npm install
              run: |
                  npm install
            - name: "运行 【笑谱】"
              run: |
                  node iboxpay.js
              env:
                REFRESHTOKEN: ${{ secrets.REFRESHTOKEN }}
                IBOXPAYVIDEOHEADER: ${{ secrets.IBOXPAYVIDEOHEADER }}
                IBOXPAYVIDEOBODY: ${{ secrets.IBOXPAYVIDEOBODY }}
                TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
                TG_USER_ID: ${{ secrets.TG_USER_ID }}
